html,
body {
    padding: 0;
    margin: auto;
    font-family: 'Jost', sans-serif;
    background-color: $background-grey;
    max-width: 1440px;
    width: 100%;
}

a {
    color: $bright-colar;
    text-decoration: none;
}

.error-wrapper {
    @include flex-centered();
    padding: 30vh 20px;
    margin: 0;
    background-color: #FFF;
    border-radius: 10px;
}

.error {
    @include size-color-weight-height(18px, $bright-colar, 500, 16px);
    margin-right: 20px;
}

.empty-text {
    background-color: $background-grey;
    margin: 0 0 10px 0;
    padding: 18px 20px;
    border-radius: 10px;
    @include size-color-weight-height(16px, $dark-grey, 400, 24px);
}

.reload-button {
    @include button-40();
    background-color: #FFF;
    background-image: url('../assets/icons/action-colar.svg');
    align-self: flex-end;
}

.reload-button:hover {
    background-color: $bright-colar;
    background-image: url('../assets/icons/action-white.svg');
}

.section-title {
    background-color: $bright-colar;
    letter-spacing: 2px;
    border-radius: 10px;
    @include size-color-weight-height(20px, #FFF, 500, 30px);
    padding: 5px 30px;
}

.loader-wrapper {
    min-height: 400px;
    display: flex;
    justify-content: center;
}

.title-wrapper {
    @include title-display-gap-bottom(flex, 10px, 20px);
}


@media (max-width: 500px) {
    .title-wrapper {
        flex-wrap: wrap;
        row-gap: 10px;
    }
}


@media (max-width: 368px) {
    .reload-button:hover {
        background-color: #FFF;
        background-image: url('../assets/icons/action-colar.svg');
    }
}